.disk, .disk-groove, .disk-center, .disk-hole{
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
}
.disk{
    width: var(--width);
    background-color: var(--secondary-color);
}
.disk-outline{
    outline: white solid calc(var(--width) / 12);
}
.disk-rotate{
    animation: rotate-disk 5s linear infinite;    
}
@keyframes rotate-disk {
    from{rotate: 0;}
    to{rotate: 1turn;}
}
.disk-groove, .disk-center, .disk-hole{
    left: 50%;
    top:50%;
    translate: -50% -50%;
}
.disk-hole{
    width: 9%;
    background-color: var(--primary-color);
}
.disk-center{
    width: 30%;
    background-color: var(--secondary-darker-color);
}
.disk-groove{
    border: 1px solid var(--tertiary-light-color)
}
.disk-groove:nth-of-type(1){
    width: 88%;
    border-color: var(--tertiary-light-color) transparent;
    rotate: 101deg;
}
.disk-groove:nth-of-type(2){
    width: 69%;
    border-color: var(--tertiary-light-color) transparent;
    rotate: 99deg;
}
.disk-groove:nth-of-type(3){
    width: 75%;
    border-color: var(--tertiary-light-color) transparent;
    rotate: 82deg;
}
.disk-groove:nth-of-type(4){
    width: 51%;
    border-color: var(--tertiary-light-color) transparent;
    rotate: 106deg;
}
.disk-groove:nth-of-type(5){
    width: 46%;
    border-color: var(--tertiary-light-color) transparent;
    rotate: 89deg;
}
.disk-groove:nth-of-type(6){
    width: 93%;
    border-color: var(--tertiary-light-color) transparent;
    rotate: 90deg;
}