.player-page{
    --control-heigth: 80px;
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: calc(100lvh - 2 * var(--control-heigth)) var(--control-heigth) var(--control-heigth);
}
.background-player{
    position: absolute;
    z-index: 0;
    height: calc(3 * var(--control-heigth));
    top: calc(100vh - 3 * var(--control-heigth));
    width: 100%;
    pointer-events: none;
}
.background-player img{
    width: max(1400px,100vw);
    max-height: 112%;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: top left;
}
.background-player img:nth-child(2){
    object-position: top right;
    max-height: 77%;
    left: unset;
    right: -5px;
    bottom:-45px;
}
.song{
    display: flex;
    padding: 2rem;
    gap: 1rem;    
}
.song__infos{
    width: 35%;
}
.song__infos-disk{
    position: relative;
    isolation: isolate;
}
.song__infos-disk img{
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.song__infos h1{
    font-size: calc(1.3rem + 1vw);
    font-weight: 900;
}
.song__infos h2{
    font-weight: 200;
    color: var(--secondary-color);
    font-size: calc(.8rem + 1vw);
}
.song__infos-links a{
    margin-right: .3rem;
}
.song__trackslist--container{
    width: 100%;
    height: 100%;
    position: relative;
    isolation: isolate;
    padding-left: 5rem;
}
.song__trackslist--shadow{
    position: absolute;
    width: calc(100% - 5.5rem);
    height: 10vh;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 1;
    pointer-events: none;
}
.song__trackslist{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 200px;
    padding-right: .5rem;
    scrollbar-color: var(--secondary-color) transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}
.song__trackslist::-webkit-scrollbar{
    width: .4rem;
    background: transparent;
}
.song__trackslist::-webkit-scrollbar-thumb{
    width: .4rem;
    border-radius: .2rem;
    background: var(--secondary-color);
}
.player-controls{
    position: relative;
    display: flex;
    align-items: center;
    gap:1.5rem;
    z-index: 1;
    margin-top: -30px;
    padding-left: 65px;
}
@media (min-width: 1500px) {
    .player-controls{margin-top: 0px;}
}
@media (min-width: 1900px) {
    .player-controls{margin-top: 30px;padding-left: 100px;}
}
.loop{
    --loop-color: var(--tertiary-light-color);
    width: 45px;
    height: 45px;
    rotate: 0deg;
    transition: rotate 1s ease-in-out;
    cursor: pointer;
}
.loop-activate{
    --loop-color: var(--primary-color)
}
.loop svg{
    width: 45px;
    height: 45px;
}
.loop:hover{
    rotate: 1turn;
}
.player-controls input{
    width: 25vw;
}
.progress-bar{
    display: flex;
    align-items: center;
    background-color: var(--tertiary-light-color);
    border-radius: 6px;
    padding: .7rem;
    gap: .7rem;
    height: 55px;
}
.display-time{
    width: 80px;
    text-align: center;
    font-variant-numeric: tabular-nums;
}
.other-songs{
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: .5rem;
    padding: .5rem .6rem;
}
.other-songs p{
    color: var(--tertiary-light-color);
    font-size: 1.5rem;
    font-weight: 300;
}
.cover-container{
    height: 100%;
    aspect-ratio: 1;    
    border-radius: 5px;
    overflow: hidden;
}
.other-songs img{
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    transition: transform .5s ease-in-out;
    cursor: pointer;
}
.other-songs img:hover{
    transform: scale(1.3);
}