.track-card{
    display: flex;
    background-color: var(--primary-light-color);
    width: 100%;
    margin-bottom: .5rem;
    color: var(--secondary-color);
    border-radius: 10px;
    height: 160px;
}
.track-card:nth-of-type(3n+2){
    background-color: var(--primary-color);
}
.track-card:nth-of-type(3n+3){
    background-color: var(--primary-dark-color);
}
.canvas-container{
    position: relative;
    width: 50%;
    max-height: 160px;
}
.canvas-container canvas{
    position: absolute;
    padding: .5rem 1rem;
    width: 100%;
    height: 100%;
}
.canvas-container canvas:nth-of-type(2){
    --position: 0%;
    mask-image: linear-gradient(to right, #000 50%,#0000 50%);
    mask-size: 200% 100%;
    mask-position: calc(100% - var(--position));
    mask-repeat: no-repeat;
}
.track-buttons{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 95px;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: .5rem;
    padding: 1rem;
}
.track-buttons p{
    font-size: calc(1rem + 1vw);
}
.track-buttons button,
.track-buttons div{
    background-color: var(--tertiary-light-color);
    color: var(--secondary-color);
    border-radius: 6px;
    padding: .7rem;
    height: 55px;
    position: relative;
}
.track-buttons button{
    font-size: 1.6rem;
    line-height: 1;
    padding-left: calc(.7rem + 16px);
    cursor: pointer;
}
.track-buttons button::before{
    content: '';
    display: inline-block;
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--quaternary-color);
    position: absolute;
    top: calc(50% - 4px);
    left: calc(.7rem + 2px);
}
.track-buttons button.active{
    background-color: var(--quaternary-color);
}
.track-buttons button.active::before{
    background-color: var(--primary-color);
}
.track-buttons button:hover{
    background-color: var(--secondary-light-color);
}
.track-buttons button:disabled,
.track-volume input:disabled,
.track-buttons button:disabled:hover{
    background-color: var(--tertiary-light-color);
    filter: grayscale(1)
}
.track-volume:has(input:disabled){
    filter: grayscale(1);
}
.track-volume{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.track-volume img{
    width: 26px;
}
.track-volume input{
    width: 100%;
}