@import url(https://fonts.bunny.net/css?family=rubik:300,400,500,600,700,800,900);

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{color: inherit}
:root{
    --primary-color: #FFB300;
    --secondary-light-color: #8100D6;
    --secondary-color: #5C0099;
    --secondary-dark-color: #510087;
    --secondary-darker-color: #2E004D;
    --tertiary-color: #DED1A7;
    --tertiary-light-color: #FEF4D1;
    --quaternary-color: #99B4BC;
}
button{
    border: unset;
    background: unset;
    font-size: unset;
    color: unset;
    text-align: unset;
}
body{
    font-family: 'Rubik';
    color: var(--secondary-darker-color);
    overflow: hidden;
    font-size: 18px;
}
input[type="range"]{
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: var(--quaternary-color);
    background-image: linear-gradient(var(--secondary-color), var(--secondary-color));
    background-size: 90% 100%;
    background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 35px;
    width: 35px;
    background: url(/disk.svg) center center no-repeat;
    cursor: ew-resize;
}
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 35px;
    width: 35px;
    background: url(/disk.svg) center center no-repeat;
    cursor: ew-resize;
}
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}